@charset "UTF-8";

:root {
    --cinza-escuro: #0F0F0F;
    --cinza-claro: #262628;
    --cinza-claro1: #9b9b9b;
    --azul-link: #3FA1F5;
}

@media only screen and (max-width: 600px)  {
    .download {
        display: none;
    }

    .clip {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .none {
        display: none;
    }

    .search-bar {
        display: block;
        width: 30%;
        height: 40px;
    
        background: black;
        border: 1px solid var(--cinza-claro);
        border-radius: 30px;
        margin-top: 15px;
    
        overflow: hidden;
        cursor: text;
    }

    .search-bar span {
        position: relative;
        top: 10px;
        left: 20px;

        color: var(--cinza-claro1);
    }
    
    .search {
        display: flex;
        width: 25%;
        height: 100%;
        background: var(--cinza-claro);

        justify-content: center;
        align-items: center;

        float: right;
        cursor: pointer;
    }

    .channel {
        display: none;
    }

    .subscribe-1 {
        display: block;
    }

    .buttons {
        justify-content: space-around;
        align-items: center;
    }

    .channel-1 {
        display: flex;
    }

    .channel-avatar-1 {
        display: flex;
        gap: 10px;
    }

    .channel-name-1 p {
        font-size: .75rem;
        color: var(--cinza-claro1);
    }

    .download {
        display: none;
    }

    .clip {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    main {
        display: flex;
        flex-flow: row;
        flex: 0 1 auto;
    }
    
    .dad {
        width: 65%;
    }

    .video img {
        width: 100%;
    }

    .bro-dad {
        width: 30%;
    }

    .other-videos {
        margin-left: 0px;
    }
}
